/* ==UserStyle==
@name         [Rakuten] Ergonomie perso
@namespace    https://darathor.com/
@version      1.0.16
@description  Ajustements visuels et améliorations ergonomique.
@author       Darathor < darathor@free.fr >
@supportURL   https://framagit.org/Darathor/UserScripts/issues
@license      WTFPL
==/UserStyle== */

@-moz-document domain("shopping.rakuten.com") {
    /** Suppression du fond cliquable sur certaines boutiques (notament GiebertJoseph) */
    html body div#siteBody.siteBody {
        margin: 0 !important;
        width: 100% !important;
        background: #eee !important;
        max-width: 100% !important;
    }

    html body #wrapper {
        margin: auto;
    }

    /** Suppression des pubs en sidebanner et ailleurs */
    #main {
        width: 100% !important;
        max-width: 2000px !important;
    }
        
    #main > .row {
        width: 100% !important;
        max-width: 2000px !important;
    }
    
    html body.fpV3.widthkml-sideBanners-H #main,
    html body.widthkml-sideBanners-H #page_nav {
        padding: 0 !important;   
    }
    
    .kml-sideBanner,
    #kmlTopBanner,
    #kmlBottomBanner,
    .sideBannerCampaign .sideBanner,
    .campaignSideBanner_sideBanner_zcM,
    #mobileBanner {
        display: none;   
    }
    
    /** Mode compact sur la liste des offres */
    .fpV3 .siteBody #main .prdBuyBox.versionA:not(.gamme):not(.withSearch) #prdListingListV2 .gsRow.itemList {
        padding: 12px 8px !important;
    }
    .fpV3 .siteBody #main .prdBuyBox.versionA .sellerInfos {
        margin-bottom: 0 !important;   
    }
    .fpV3 .siteBody #main .prdBuyBox.versionA .sellerLink {
        margin-bottom: 0;
        margin-top: 0;
    }
    .advert-contact-container {
        padding: 5px;   
    }
    .buyBoxBlock .satisfiedOrRefundedModal {
        margin-bottom: 8px !important;
    }
    .satisfiedOrRefundedModal {
        padding-top: 8px !important;
    }
    .descriptionSellerLink:empty {
        display: none !important;
    }
    
    /** Ajustement de marge sur le fil d'Ariane */
    .prdBreadcrumb {
        padding: 0 8px 8px !important;
    }
    

    /** Ajustement de la marge haute sur certaines boutiques (notament GiebertJoseph) */
    #header + #main {
        margin-top: 130px !important;
    }

    /** Ajustement de la largeur de certaines boutiques (notamment LATOUHEGEEK) */
    .CS-advert-section {
        display: none;   
    }
    
    html body .sb_breadcrumb,
    html body #shop_header, 
    html body #shop_main {
        width: 1250px !important;
        max-width: 1250px !important;
    }
    
    #shop_main #shop_content {
        width: 930px;
    }
  
    /** Ajustement de la largeur des boutiques classiques */
    #struct_full .left-mid-container {
        max-width: 100%;
    }

    
    /** Correction bug de taille des visuels */
    .productNav .productPhoto img {
        max-width: 170px;
        max-height: 170px;
    }

    .cart_pdt_img img {
        max-width: 130px;
        max-height: 130px;
    }

    .cart_pdt_img .prdMainPhoto {
        text-align: center;
    }
}

@-moz-document url-prefix("https://fr.shopping.rakuten.com/product_alert") {
    /** Alertes souhaits largeur fluide */
    #main {
        width: 100% !important;
        max-width: 2000px !important;
    }
        
    #main > .row {
        width: 100% !important;
        max-width: 2000px !important;
    }
    
    #panel_body {
        width: calc(100% - 259px) !important;
    }
    #panel_body .leadCol {
        width: 100% !important;
    }
    
    .photoSize_MML {
        /*width: 169px !important;*/
        width: 193px !important;
        height: 250px !important;
    }
    
    .productOverlay {
        /*width: 169px !important;*/
        width: 193px !important;
    }

    .productGrid .pagination {
        padding-top: 45px !important;   
    }
}