/* ==UserStyle==
@name         [Rakuten] Panier multi-colonnes
@namespace    https://darathor.com/
@version      1.0.2
@description  Panier en deux colonnes sur Rakuten.
@author       Darathor < darathor@free.fr >
@supportURL   https://framagit.org/Darathor/UserScripts/issues
@license      WTFPL
==/UserStyle== */

@-moz-document url-prefix("https://fr.shopping.rakuten.com/cart") {
    #main,
    body.design2016:not(.shopPro) #main {
        max-width: 2000px !important;
    }

    .cart_block_parcel {
        column-count: 2;    
        column-rule: 1px solid #ccc;
        column-gap: 30px;
    }

    .cart_single_pdt {
        display: inline-block;
        padding: 0 0 15px 0;
        margin: 0 0 8px 0;
        border-bottom: 1px solid #ccc;
        max-width: 100%;
        width: 100%;
    }
    
    .cart_block_parcel.box .cart_pdt .cart_pdt_img {
        width: 130px;   
    }
    
    .cart_block_parcel.box .cart_pdt .cart_pdt_detail {
        max-width: calc(100% - 166px - 130px);
        width: unset;
        flex: 1;
    }
    
    .line_H,
    .cart_warranty_blck,
    .cart_warranty {
        display: none !important;
    }

    #panel_body {
        max-width: calc(100% - 350px);
        flex: 1;
    }

    #panel_right {
        max-width: 350px;
    }
    
    #rightStickyBlock {
        max-width: 325px;
    }
}
