/* ==UserStyle==
@name         [GitLab] Ajustements visuels
@namespace    https://darathor.com/
@version      1.0.12
@description  Ajustements divers.
@license      WTFPL
==/UserStyle== */

@-moz-document domain("gitlab.omn.proximis.com") {
	/* Better display for labels */
	.color-label {
		padding: .2em .5em .35em !important;
		border-radius: 5px !important;
	}

	.filtered-labels .color-label {
		border-top-right-radius: 0 !important;
		border-bottom-right-radius: 0 !important;
	}

	.filtered-labels .label-remove {
		padding: .2em .5em .35em !important;
		border-top-right-radius: 5px !important;
		border-bottom-right-radius: 5px !important;
		line-height: 1 !important;
	}

	/* Fix retour à la ligne bouton EDIT */
	.nav-controls .btn {
		float: none !important;
	}

	/* Fix file list drop down height in diff view */
	.open .dropdown-menu {
		max-height: 400px;
	}
    
	/* Remove parasite scrollbar in in the dropdowns */
	.dropdown-menu {
		max-height: none !important;
	}

	/* Message 2FA moins aggressif */
	.broadcast-message[style="background-color: #ff0000; color: #ffffff"] {
		background-color: #faa !important;
		color: #000 !important;
	}

	/* Polices */
	:root {
		--default-mono-font: '';
		--default-regular-font: '';
	}

	/* Ajout d'un hover sur les MR et les branches pour faciliter la lecture */
	.mr-list .merge-request:hover,
	.content-list li:hover {
		background: #f9f9f9;
	}

	/* Suppression de l'italique dans les rendus diff */
	.code.dark .ge {
		font-style: normal;
	}

	/* Affichage des messages de commits en pre-wrap */
	.gl-white-space-pre-line {
		white-space: pre-wrap;
	}
}
