/* ==UserStyle==
@name         [OMN] BO supportable
@namespace    https://darathor.com/
@version      1.0.1
@description  Ajustements visuels pour rendre le BO supportable.
@license      WTFPL
==/UserStyle== */

@-moz-document regexp("^.*.stg.proximis.com/(admin|ua).php/.*$"), regexp("^.*localhost/(admin|ua).php/.*$"), regexp("^.*\\.vm/(admin|ua).php/.*$"), regexp("^.*\\.omn\\.proximis\\.com/(admin|ua).php/.*$") {
    body {
        background-color: #eaebf1 !important;
    }

    #workspace {
        background-color: #fff !important;
    }

    .ua-entity-list-table > thead {
        background: #f1f2f7;
        color: #5a6e86;
    }

    .table-striped > tbody > tr:nth-of-type(2n) {
        background: #eaebf1;
    }

    .table-striped > tbody > tr:nth-of-type(2n) .list-group-item {
        border: 1px solid #c4c4c7;
    }

    select.form-control,
    .form-control {
        border: 1px solid #c4c4c7;
        box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
        transition: border-color ease-in-out 0.15s, box-shadow ease-in-out 0.15s;
    }

    .document-list td .btn-xs,
    .btn-default {	
        border: 1px solid #c4c4c7;
    }
}