/* ==UserStyle==
@name         [OMN] Différenciation des instances
@namespace    https://darathor.com/
@version      1.0.16
@description  Affiche un bandeau de couleur sur les sites OMN indiquant le type d'instance (PROD, PREPROD, DEV).
@license      WTFPL
==/UserStyle== */

html[data-ng-app="RbsChangeApp"]::before,
html[data-ng-app="RbsChange"]::before,
html[data-ng-app^="proximis"]::before {
	display: block;
	content: 'Instance : PRODUCTION';
    text-align: center;
	background: linear-gradient(0deg, #FF0000, #bb0000) !important;
	border-bottom: 2px solid #770000 !important;
	color: white;
	padding: 10px 15px;
	position: sticky;
	top: 0;
	left: 0;
	right: 0;
	height: 42px;
	line-height: 20px;
	z-index: 100000000;
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important;
	font-size: 14px !important;
	font-weight: bold;
}

@-moz-document regexp("^.*localhost.*$"), regexp("^https?://change.local.*$"), regexp("^.*\\.vm.*$") {
	html[data-ng-app="RbsChangeApp"]::before,
	html[data-ng-app="RbsChange"]::before,
	html[data-ng-app^="proximis"]::before {
		content: 'Instance : DEV LOCAL';
		background: linear-gradient(0deg, #00AAAA, #008888) !important;
		border-bottom: 2px solid #005555 !important;
	}
}


@-moz-document regexp("^.*-preprod.stg.proximis.com/.*$") {
	html[data-ng-app="RbsChangeApp"]::before,
	html[data-ng-app="RbsChange"]::before,
	html[data-ng-app^="proximis"]::before {
		content: 'Instance : PREPROD';
		background: linear-gradient(0deg, #AAAA00, #888800) !important;
		border-bottom: 2px solid #555500 !important;
	}
}

@-moz-document regexp("^.*-dave.stg.proximis.com/.*$"), regexp("^.*-dev.stg.proximis.com/.*$") {
	html[data-ng-app="RbsChangeApp"]::before,
	html[data-ng-app="RbsChange"]::before,
	html[data-ng-app^="proximis"]::before {
		content: 'Instance : DEV CLIENT';
		background: linear-gradient(0deg, #00AA00, #008800) !important;
		border-bottom: 2px solid #005500 !important;
	}
}

@-moz-document regexp("^https://proximis-dev.*$") {
	html[data-ng-app="RbsChangeApp"]::before,
	html[data-ng-app="RbsChange"]::before,
	html[data-ng-app^="proximis"]::before {
		content: 'Instance : DEV INTERNE';
		background: linear-gradient(0deg, #0000ff, #0000bb) !important;
		border-bottom: 2px solid #000077 !important;
	}
}
