/* ==UserStyle==
@name         [OMN] Classes CSS dans le processus de commande
@namespace    https://darathor.com/
@version      1.0.0
@description  Mise en évidence des classes CSS sur les étapes, panels, champs et boutons du processus de commande.
@license      WTFPL
==/UserStyle== */

@-moz-document regexp("^.*localhost.*$"), regexp("^.*\\.vm.*$") {
	/** steps */
	[class*="process-"],
	[class*="address-"] {
		border: 2px solid #0F0;
		position: relative;
	}

	[class*="process-"]::before,
	[class*="address-"]::before {
		display: block;
		position: absolute;
		background: #000;
		border: 2px solid #0F0;
		color: #fff;
		top: -18px;
		right: -2px;
		padding: 0 3px;
		font-size: 10px;
		z-index: 5000;
		content: attr(class) !important;
		text-transform: none;
	}

	/** panels */
	[class*="process-identification-"],
	[class*="process-identification-"]::before,
	[class*="process-shipping-"],
	[class*="process-shipping-"]::before,
	[class*="process-gift-"],
	[class*="process-gift-"]::before,
	[class*="process-premium-"],
	[class*="process-premium-"]::before,
	[class*="process-payment-"],
	[class*="process-payment-"]::before {
		border-color: #F00;
	}

	/** fields */
	[class*="process-field-"],
	[class*="process-field-"]::before,
	[class*="address-field-"],
	[class*="address-field-"]::before {
		border-color: #00F;
	}

	/** buttons */
	[class*="process-button-"],
	[class*="process-button-"]::before {
		border-color: #F90;
	}
}