/* ==UserStyle==
@name         [DocOMN] Adaptations visuelles
@namespace    https://darathor.com/
@version      1.0.0
@description  Adaptations visuelles sur la documentation OMN.
@license      WTFPL
==/UserStyle== */

@-moz-document domain('doc.omn.proximis.com'), domain('doc.master.vm') {
    .rbs-breadcrumb .glyphicon-home {
        font-size: 20px;
    }
}