/* ==UserStyle==
@name         [PRXManager] Ajustements visuels
@namespace    https://darathor.com/
@version      1.0.0
@description  Ajustement visuels.
@license      WTFPL
==/UserStyle== */

@-moz-document domain("manager.omn.proximis.com") {
    pre {
        white-space: pre-wrap; 
    }

    [data-rest-service="Prx_Deployment.list"]  a.text-uppercase {
        text-transform: none;
    }
}
