/* ==UserStyle==
@name         [Wallabag] Ajustements visuels
@namespace    https://darathor.com/
@version      2.0.4
@description  Ajustements visuels.
@author       Darathor < darathor@free.fr >
@supportURL   https://framagit.org/Darathor/UserScripts/issues
@license      WTFPL
==/UserStyle== */

@-moz-document domain('wallabag.darathor.net') {
	/** Masquage de l'image d'en-tête (reprise plus bas) */
	aside > div > img.preview {
		display: none;
	}

	/** Rendu métadonnées dans le détail d'une article */
	.tools li {
		margin-right: 10px;
	}

	.tools li i {
		vertical-align: middle;
	}

	/** Compatibilité WordPress */
	.alignright {
		float: right;
		margin: 0 0 10px 10px;
	}

	.alignleft {
		float: left;
		margin: 0 10px 10px 0;
	}

	.aligncenter {
		clear: both;
		margin: auto;
		display: block;
	}

	/** Rendu des métadonnées dans la liste des articles */
	.card .card-action {
		font-size: 0.90em;
	}

	.card .card-action .material-icons {
		font-size: 21px;
	}
}