/* ==UserStyle==
@name         [Bus Magique] Ajustements visuels
@namespace    https://darathor.com/
@version      1.0.0
@description  Masquage d'éléments inutiles.
@author       Darathor < darathor@free.fr >
@supportURL   https://framagit.org/Darathor/UserScripts/issues
@license      WTFPL
==/UserStyle== */

@-moz-document domain('lebusmagique.fr') {
	/** Masquer le bandeau cookies */
	#cookielaw_notice,
	.qc-cmp-showing {
		display: none !important;
	}
	.qc-cmp-ui-showing {
		overflow: visible !important;
	}

	/** Masquer le carousel */
	#cover {
		display: none;
	}
	#wrapper {
		margin-top: 80px ! important;
	}

	/** Masquer la sidebar */
	#sidebar {
		display: none;
	}
	#main {
		flex: 0 0 100% !important;
	}

	/** Masquer les liens sociaux */
	#header-buttons {
		display: none !important;
	}

	/** Couleur de fond du menu */
	#header {
		background: rgba(202, 149, 59, 1);
	}
}