/* ==UserStyle==
@name         [DBZ Space] Ajustements visuels
@namespace    https://darathor.com/
@version      1.0.0
@description  Ajustements visuels pour le sit DBZ Space.
@author       Darathor < darathor@free.fr >
@supportURL   https://framagit.org/Darathor/UserScripts/issues
@license      WTFPL
==/UserStyle== */

@-moz-document domain('dbz.space') {
	/** Masquage du footer de pub. */
	section.contrib {
		display: none !important;
	}
}