/* ==UserStyle==
@name         [Tric Trac] Ajustements visuels
@namespace    darathor.com
@version      1.0.0
@description  Supprime les pubs et réduit la taille de certains éléments.
@author       Darathor < darathor@free.fr >
@supportURL   https://framagit.org/Darathor/UserScripts/issues
@license      WTFPL
==/UserStyle== */

@-moz-document domain('trictrac.net') {
	/** Masquage des indésirables */
	#cookie-bar /* avertissement cookies */,
	body > div:nth-of-type(1), /* bannière de pub */
	body > div:nth-of-type(2) /* bannière de pub */
	{
		display: none !important;
	}

	#general-menus,
	header {
		background: #ddd !important;
	}

	header {
		border-bottom: 1px solid rgba(0, 0, 0, 0.1) !important;
	}

	header > div,
	header > div.no-padding-bottom {
		padding: 15px 0 15px 0 !important;
	}

	header .cover {
		margin: -16px 0 -15px 0 !important;
	}

	body #content > .row {
		padding-top: 0;
	}

	#edition {
		margin-bottom: 10px !important;
	}

	#container .game-infos {
		margin: 0 !important;
	}

	/** Réduction de la taille des éléments */
	h1 {
		font-size: 25px !important;
	}
	h2 {
		font-size: 20px !important;
	}

	#img-game {
		width: auto;
		max-height: 250px;
		height: auto;
	}
}