/* ==UserStyle==
@name         [Mastodon] Ergonomie perso
@namespace    https://darathor.com/
@version      1.0.27
@description  Améliore l'affichage et l'ergonomie du réseau social Mastodon.
@author       Darathor < darathor@free.fr >
@supportURL   https://framagit.org/Darathor/UserScripts/issues
@license      WTFPL
==/UserStyle== */

@-moz-document domain('mamot.fr') {
	/* Affichage des dates en clair */
	.status__display-name {
		clear: both;
	}

	.status__visibility-icon {
		float: right;
		display: none;
	}

	.status__relative-time {
		font-size: 12px;
		text-align: right;
	}

	.status__relative-time time::before {
		display: block;
		content: attr(title);
		white-space: nowrap;
	}

	.status__relative-time {
		float: none;
	}

	/* Différenciation visuelle des dates de messages normaux et partagés */
	.status .status__relative-time {
		color: #c0c9e4;
	}

	.status__prepend + .status.status-public:not(.status-reply) .status__relative-time,
    .notification .status__relative-time {
		color: #606984;
		font-size: 11px;
	}

	/* Colonnes flexibles */
	@media screen and (min-width: 1025px) {
		.columns-area {
			align-content: stretch;   
			align-items: stretch;
		}

		.columns-area > :not(.drawer) {
			flex-grow: 1 !important;
		}

		.column__wrapper > .column {
			width: 100%;
		}
	}

	/* Augmentation de la hauteur des images et vidéos */
	.media-gallery, .media-spoiler {
		width: auto !important;
		height: auto !important;
		min-height: 110px;
	}
	.media-gallery {
		border-radius: 0 !important;          
		max-height: 400px;
		width: 100% !important;        
	}
	.status--in-thread .media-gallery {
		width: calc(100% - 56px) !important;
	}
	.media-gallery video {
		transform: translateY(0%) !important;
		object-fit: scale-down !important;
		display: block;
		max-height: 400px;
	}
	.media-gallery img {
		object-fit: contain !important;
		max-height: 400px;
	}
	.media-gallery__item {
		display: inline-block;
		float: none !important;
		text-align: center;
		border-radius: 0 !important;
	}
	.status__content + div {
		max-height: 400px;
		width: 100%;
	}
	.video-player {
		margin: auto;
		max-height: 400px;
	}

	/* Texte sur toute la largeur */
	.display-name span {
		display: block;
		font-size: 0.9em !important;
	}

	.status,
	.detailed-status,
	.navigation-bar,
	.compose-form,
	.account__header__bar {
		padding: 10px;
	}

	.status > :last-child {
		display: flex;
		justify-content: space-between;
	}

	.status > :last-child > div {
		margin: 0 10px !important;
	}

	.detailed-status .status__content,
	.detailed-status .status__content + div:not(:last-child),
	.detailed-status .status > :last-child {
		margin-left: 0;
	}

	/* Suppression de la mager à gauche dans la colonne de notifications. */
	.notification-ungrouped .attachment-list,
	.notification-ungrouped .audio-player,
	.notification-ungrouped .content-warning,
	.notification-ungrouped .filter-warning,
	.notification-ungrouped .hashtag-bar,
	.notification-ungrouped .media-gallery,
	.notification-ungrouped .more-from-author,
	.notification-ungrouped .picture-in-picture-placeholder,
	.notification-ungrouped .status-card,
	.notification-ungrouped .status__action-bar,
	.notification-ungrouped .status__content,
	.notification-ungrouped .video-player {
		margin-inline-start: 0;
	}

	/* Position du dropdown d'action complémentaires */
	.status > :last-child .dropdown--active .dropdown__content > ul {
		left: -110px !important;
	}

	/* Couleur du texte moins agressive */
	.status__content {
		color: #cce;
	}

	/* Réduction de la taille du texte dans les notifications */
	.notification .status__content {
		font-size: 12px !important;
        line-height: 19px;
	}
 
	/* Réduction de la taille du texte dans le message sélectionné de la colonne de droite */
	.detailed-status .status__content {
		font-size: 15px;
		line-height: 22px;
	}

	/* Remplacement de la police */
	.columns-area {
		font-family: "Helvetica Neue", Arial, sans-serif;
	}

	/* Réduction du padding autour des liens du menu de droite. */
	.column-link {
		padding: 10px !important;
	}

	/* Réduction de la marge sous les paragraphes. */
	.reply-indicator__content p,
	.status__content p {
		margin-bottom: 9px;
	}

	/* Réduction des aperçus de liens */
	.status-card,
	.status-card.expanded {
		flex-direction: row !important;
		align-items: center;
	}
	.status-card__image {
		max-width: 80px !important;
		aspect-ratio: 1 !important;
	}
	.status-card.expanded .status-card__image, 
	.status-card.expanded .status-card__image-image,
	.status-card.expanded .status-card__image-preview {
		border-start-end-radius: 0 !important;
	}
	.status-card__content {
		padding: 5px 10px;
	}
	.status-card__title {
		line-height: 15px;
		font-size: 13px;
	}
	.status-card__host {
		margin-bottom: 3px;
		font-size: 11px;
	}
	.status-card__description {
		margin-top: 3px;
		font-size: 11px;
	}
}
