/* ==UserStyle==
@name         [Slack] Ajustements visuels
@namespace    https://darathor.com/
@version      1.0.15
@description  Ajustements divers.
@author       Darathor < darathor@free.fr >
@supportURL   https://framagit.org/Darathor/UserScripts/issues
@license      WTFPL
==/UserStyle== */

@-moz-document domain("slack.com") {
	/* Virer le max-height sur les éléments épinglés. */
	.pinned_item .pinned_message_text.hide_scroll {
		overflow: visible;
		max-height: none;
	}

	.pinned_item .pin_truncate_fade {
		display: none;   
	}

	.c-message_kit__condensed_message_text {
		white-space: normal;
	}

	/* Virer les éléments inutiles... */
	.p-classic_nav__model__button--calls,
	.p-classic_nav__model__button--calls + .p-ia__view_header__divider,
	.p-channel_sidebar__quickswitcher,
    .p-huddle_sidebar_footer {
		display: none;
	}

	/* Divs vides dans la sidebar */
	[style="height: 18px;"] + [style="height: 18px;"],
	[data-qa="channel_sidebar_static_list_body"] > :nth-last-child(-n+5) {
		display: none;
	}
	
	.p-channel_sidebar__static_list > div:not([style="height: 18px;"]) {
		height: auto !important;   
	}

	/* Largeur des éléments contenant les sondages */
	.c-message__attachments,
	.c-message__attachment,
	.c-message_attachment {
		max-width: 100% !important;
	}


	/* Largeur des éléments contenant les citations */
	.c-message_kit__attachments {
		max-width: 100% !important;
	}

	/* Slackbot plus discret */
	.c-message--custom_response {
		transition: ease 0.5s opacity;
		opacity: 0.25;
	}
	.c-message--custom_response:hover {
		opacity: 1;
	}

	/* Liste des smileys */
	.p-emoji_picker__list_container {
		margin-right: -4px;
	}

	.p-emoji_picker__sticky_header .p-emoji_picker__heading {
		right: 15px;
	}
	
    
	/* Style réactions */
	.c-reaction.c-reaction--reacted {
		background-color: rgba(29, 155, 209, 0.1);
		box-shadow: inset 0 0 0 1px #3284d3;
	}

	/* Scrollbars la liste des emojis */
	.p-emoji_picker__list_container {
		overflow: hidden;
	}
	.p-emoji_picker__list {
		margin-right: 8px;
	}
	.p-emoji_picker__sticky_header .p-emoji_picker__heading {
		right: 20px;
    }

    /* Virer le max width sur les images */
    .c-file_gallery {
        max-width: 100% !important;
        width: auto !important;
    }

	/* Idem sur les zones de code */
    .c-files_container > div,
    .c-file_gallery {
        width: 100% !important;
    }
}
