/* ==UserStyle==
@name         [Manga Sanctuary] Ajustements visuels
@namespace    https://darathor.com/
@version      1.0.1
@description  Améliore l'affichage du site Manga Sanctuary notamment lorsqu'un bloqueur de pubs est activé.
@author       Darathor < darathor@free.fr >
@supportURL   https://framagit.org/Darathor/UserScripts/issues
@license      WTFPL
==/UserStyle== */

@-moz-document domain('manga-sanctuary.com') {
	/** Réductions de magrges et suppressions de zones inutiles lorsqu'un bloqueur de pubs est activé. */
	#hab {
		display: none !important;
	}
	#conteneur {
		margin-top: 100px !important;
	}
	#content {
		margin-top: 0;
	}
	#content > div:first-child:not([class]),
	#sidebar > div:first-child:not([class]),
	#sidebar > div:nth-child(2):not([class]) {
		display: none !important;
	}
	#sidebar {
		margin-top: 10px !important;
	}
	#header {
		display: block;
	}
	body {
		padding-top: 0 !important;
	}

	/** Suppression du lien, de l'image et de la vidéo de pub en fond et en-tête. */
	#cg_skin,
	#cgVideoSkin {
		display: none !important;
	}
	body {
		background: #333 !important;
	}
}