/* ==UserStyle==
@name         [Wiki-DBZ-DokkanBattle] Ajustements visuels
@namespace    https://darathor.com/
@version      1.0.3
@description  Ajustements visuels pour le Wiki Dokkan Battle.
@author       Darathor < darathor@free.fr >
@supportURL   https://framagit.org/Darathor/UserScripts/issues
@license      WTFPL
==/UserStyle== */

@-moz-document domain('dbz-dokkanbattle.fandom.com') {
	/** Masquage des notifications (en bas à droite). */
	#WikiaNotifications {
		display: none;
	}

	/** Masquage footer. **/
	footer#WikiaFooter,
	.wds-global-footer,
	#WikiaBar {
		display: none;
	}

	/** Zone principale sur toute la largeur ("recent wiki activity" repoussée en bas). */
	.WikiaMainContent {
		width: 100%;
	}
	
    /** Masquage de cette putain de bannier cookie qui revient sans cesse... */
	[data-tracking-opt-in-overlay] {
		display: none;
	}

    body {
        overflow: auto !important;   
    }
    
    /** Correctifs d'affichage. */
    .ezawidth {
        width: calc(100% + 19px) !important;   
    }
}