/* ==UserStyle==
@name         [Jira] Ajustements visuels
@namespace    https://darathor.com/
@version      1.0.11
@description  Ajustements divers.
@author       Darathor < darathor@free.fr >
@supportURL   https://framagit.org/Darathor/UserScripts/issues
@license      WTFPL
==/UserStyle== */

@-moz-document domain("proximis.atlassian.net") {
	/** Affichage compacts des US */
	[data-test-id="software-board.board-area"] div[id^='card-'] > div > div > div > div {
		padding: 3px 4px 3px 9px;
	}
	[data-test-id="software-board.board-area"] div[id^='card-'] > div > div > div > div > div:nth-child(1) {
		margin-bottom: 2px;
	}
	[data-test-id="software-board.board-area"] div[id^='card-'] > div > div > div > div > div:nth-child(2) {
		margin-bottom: 0;
	}

	/* Tags + version */
	[data-test-id="software-board.board-area"] div[id^='card-'] > div > div > div > div > div:nth-child(2) > div > div:last-child:not([role=presentation]),
	[data-test-id="software-board.board-area"] div[id^='card-'] > div > div > div > div > div:nth-child(3):not(:last-child) {
		display: none;
	}

	/* Affichage des epics */
	[data-test-id="software-board.board-area"] div[id^='card-'] > div > div > div > div > div:nth-child(2) > div > div > span > span > span {
		text-transform: none !important;
	}
}
