/* ==UserStyle==
@name         [NewJira] Modal mode
@namespace    https://darathor.com/
@version      1.0.2
@description  Affichage en mode modal du détail d'une carte dans la liste.
@author       Darathor < darathor@free.fr >
@supportURL   https://framagit.org/Darathor/UserScripts/issues
@license      WTFPL
==/UserStyle== */

@-moz-document url-prefix("https://jira.weareplanet.com/secure/RapidBoard.jspa") {
    body.ghx-rapid-views #ghx-detail-view {
        z-index: 2000; /* The comment editing modal has z-index: 3000 */
        position: fixed !important;
        top: 0 !important;
        left: 0 !important;
        bottom: 0 !important;
        right: 0 !important;
        background: rgba(0, 0, 0, 0.5);
        width: 100% !important;
    }

    body.ghx-rapid-views #ghx-detail-contents,
    body.ghx-rapid-views .ui-resizable-outer {
        position: fixed !important;
        top: 100px !important;
        left: 100px !important;
        bottom: 100px !important;
        right: 100px !important;
        height: calc(100% - 200px);
    }

    body.ghx-rapid-views .ghx-detail-issue {
        height: 100%;
    }

    body.ghx-rapid-views .ghx-detail-nav {
        flex: 1 !important;
    }

    body.ghx-rapid-views .ghx-detail-nav-content {
        padding-right: calc(40% + 420px) !important;
        position: relative;
        min-height: calc(100% - 10px);
        overflow: visible;
    }


    body.ghx-rapid-views .ghx-detail-nav-content #COMMENT {
        position: absolute;
        right: 0;
        top: 0;
        width: 39%;
        padding-right: 10px !important;
    }

    body.ghx-rapid-views .ghx-detail-nav-content #DETAILS {
        display: block;
    }

    body.ghx-rapid-views .ghx-detail-nav-content #DETAILS > div {
        display: inline-block;
        width: 49%;
    }

    body.ghx-rapid-views .ghx-detail-nav-content .ghx-detail-section {
        clear: none;
    }

    body.ghx-rapid-views .ghx-detail-nav-content #SUB_TASKS,
    body.ghx-rapid-views .ghx-detail-nav-content #ghx-tab-com-almworks-jira-structure-greenhopper-tab,
    body.ghx-rapid-views .ghx-detail-nav-content #ghx-tab-com-xiplink-jira-git-jira_git_plugin-agile-git-commits,
    body.ghx-rapid-views .ghx-detail-nav-content #ghx-tab-com-riadalabs-jira-plugins-insight-rlabs-agile-panel {
        display: none;
    }

    body.ghx-rapid-views .ghx-detail-nav-content #ghx-tab-com-okapya-jira-checklist-okapya-checklist-agile {
        position: absolute;
        right: 40%; 
        width: 400px;
    }

    body.ghx-rapid-views #addcomment {
        position: static !important;
        width: 100% !important;
    }

    body.ghx-rapid-views [style="clear: both; height: 799px;"] {
        height: 0 !important;
    }

    body.ghx-rapid-views .ui-resizable-outer {
        display: none;
    }
}
