/* ==UserStyle==
@name         [NewJira] Ajustements visuels
@namespace    https://darathor.com/
@version      1.0.3
@description  Ajustements divers.
@author       Darathor < darathor@free.fr >
@supportURL   https://framagit.org/Darathor/UserScripts/issues
@license      WTFPL
==/UserStyle== */

@-moz-document url-prefix("https://jira.weareplanet.com/secure/RapidBoard.jspa") {
    /** Affichage compacts des US */
    .ghx-column .ghx-issue {
        padding: 4px;
    }

    .ghx-column .ghx-issue-content {
        position: static;
    }

    .ghx-column .ghx-key {
        position: absolute;
        bottom: 5px;
        left: 21px;
    }

    .ghx-column .ghx-issue-fields {
        padding-right: 0 !important;
    }

    .ghx-column .ghx-issue-content > :not(:first-child), 
    .ghx-column .ghx-card-footer {
        margin-top: 5px !important;
    }

    .ghx-column .ghx-extra-fields {
        position: absolute;
        right: 15px;
        bottom: 8px;
        width: 60px;
        z-index: 100;
    }

    .ghx-column .ghx-extra-fields .ghx-extra-field-row:first-child { /* masquage du PO */
        display: none !important;
    }

    .ghx-column .ghx-card-footer {
        height: 22px;
        position: relative;
    }

    .ghx-column .ghx-type {
        padding-right: 92px;
    }

    .ghx-column .ghx-avatar-img {
        min-width: 22px !important;
        width: 22px !important;
        height: 22px !important;
    }

    .ghx-column .ghx-avatar {
        order: 10;
        margin-bottom: 0 !important;
        margin-right: 0 !important;
        margin-left: 4px !important;
        height: 22px;
        bottom: 4px;
        top: auto;
        right: 0;
    }

    .ghx-column .ghx-days {
        position: absolute;
        bottom: 0;
        order: 1;
    }
}
