/* ==UserStyle==
@name         [Twitter] Améliorations cosmétiques
@namespace    https://darathor.com/
@version      1.0.6
@description  Améliorations cosmétiques de l'affichage de Twitter.
@author       Darathor < darathor@free.fr >
@supportURL   https://framagit.org/Darathor/UserScripts/issues
@license      WTFPL
==/UserStyle== */

@-moz-document domain('twitter.com') {
	/** Police et interlignes */
	* {
		font-family: "Helvetica Neue", Arial, sans-serif !important;
	}

	.tweet-text,
	.ProfileTweet-text,
	.permalink-tweet p,
	.permalink-tweet p b {
		font-size: 14px !important;
		line-height: 16px !important;
	}

	.more-tweet-actions button {
		line-height: 12px !important;
	}

	/** Barre d'entête sombre */
	.global-nav-inner {
		background: linear-gradient(to bottom, #000 0px, #444 92%, #333 92%);
	}

	.nav > li {
		color: #aab9bf !important;
	}

	#global-actions > li.active > a {
		height: 42px !important;
		border-bottom: 7px solid #1b95e0 !important;
	}

	/** Avatars carrés */
	.avatar,
	.Avatar,
	.DMAvatar,
	.DashboardProfileCard-avatarImage,
	.DashboardProfileCard-avatarLink,
	.ProfileAvatar,
	.ProfileAvatar-image,
	.ProfileCard-avatarLink,
	.ProfileCard-avatarImage,
	.ProfileListItem-avatarLink,
	.ProfileListItem-avatar {
		border-radius: 5px !important;
	}

	#user-dropdown-toggle {
		border-radius: 5px !important;
		border: 2px solid #fff;
	}

	#user-dropdown-toggle img {
		border-radius: 5px !important;
		height: 28px !important;
		width: 28px !important;
	}

	/** Couleur des icones de retweet et favoris */
	.Icon--retweeted,
	.Icon--colorRetweeted,
	.ProfileTweet-action--retweet:hover *,
	.ProfileTweet-action--retweet *:hover,
	.ProfileTweet-action--retweet *:focus,
	.retweeted .ProfileTweet-action--retweet .Icon--retweet,
	.retweeted .ProfileTweet-action--retweet .ProfileTweet-actionButtonUndo {
		color: #0f961a !important;
	}

	.Icon--colorHeart,
	.Icon--colorHeart::before,
	.Icon--circleActiveHeart,
	.Icon--heartBadge,
	.ProfileTweet-action--favorite:hover *,
	.ProfileTweet-action--favorite *:focus,
	.favorited .ProfileTweet-action--favorite *,
	.stream-container .grid-tweet .grid-tweet-actions .favorite .Icon--heart:hover,
	.stream-container .grid-tweet .grid-tweet-actions .unfavorite .Icon--heart,
	.GalleryTweet.GalleryTweet--small .ProfileTweet-action--favorite .ProfileTweet-actionButtonUndo *,
	.GalleryTweet.GalleryTweet--small .ProfileTweet-action--favorite:hover *,
	.tweet.Tweet--invertedColors .ProfileTweet-action--favorite .ProfileTweet-actionButtonUndo *,
	.tweet.Tweet--invertedColors .ProfileTweet-action--favorite:hover *,
	.UIWalkthrough-step--like .UIWalkthrough-title,
	body:not(.edge-design) .tweet>.context .with-icn .Icon--heartBadge,
	.tweet.show-undesirable-visual-indicator .time a {
		color:#ffa200 !important;
	}

	.FoundMediaSearch-categoryContainer--bg1,
	.FoundMediaSearch-itemContainer--bg1 {
		background:#ffa200 !important;
	}

	.UIWalkthrough-step--like .UIWalkthrough-icon {
		background-color:#ffa200 !important;
	}

	/** Restauration de l'ancienne icone de favoris */
	.Icon--heart,
	.Icon--heartBadge {
		visibility: visible !important;
	}

	.Icon--heart:before,
	.Icon--heartBadge:before {
		display: inline-block;
		content: "☆";
		font-size: 22px;
		line-height: 16px;
	}

	.HeartAnimation {
		animation: none !important;
		display: none !important;
	}
}