/* ==UserStyle==
@name         [Twitter] Améliorations ergonomiques
@namespace    https://darathor.com/
@version      1.0.5
@description  Améliorations ergonomiques de l'interface de Twitter.
@author       Darathor < darathor@free.fr >
@supportURL   https://framagit.org/Darathor/UserScripts/issues
@license      WTFPL
==/UserStyle== */

@-moz-document domain('twitter.com') {
	/** Alignement à droite de l'ancienneté des tweets */
	.stream-item-header .time {
		flex: 1;
		text-align: right;
	}

	/** Affichage de la date des tweets */
	.stream-item-header .time a::after,
	.stream-item-header .time a span::after {
		display: inline-block;
		margin-left: 10px;
	}

	.stream-item-header .time a[title]::after {
		content: attr(title);
	}

	.stream-item-header .time a[data-original-title]::after {
		content: attr(data-original-title);
	}

	.stream-item-header .time a span::after {
		content: '--';
	}

	/** Suppression des hauteurs maximales sur les médias intégrés */
	.AdaptiveMedia,
	.QuoteTweet-text {
		max-height: none !important;
	}

	.AdaptiveMedia img {
		top: 0 !important;
	}

	/** Différence de couleur et taille de la date des retweets pour retrouver plus facilement le dernier non-lu */
	.stream-item-header .time a {
		color: #111 !important;
	}

	.tweet[data-retweeter] .stream-item-header .time a {
		color: #657786 !important;
		font-size: 0.9em !important;
	}
}