/* ==UserStyle==
@name         [Twitter] Masquages d'éléments indésirables
@namespace    https://darathor.com/
@version      1.0.5
@description  Masque un certain nombre d'éléments polluants (pubs, favoris, liens de traduction, suggestions de suivi).
@author       Darathor < darathor@free.fr >
@supportURL   https://framagit.org/Darathor/UserScripts/issues
@license      WTFPL
==/UserStyle== */

@-moz-document domain('twitter.com') {
	/** Masquage des favoris des personnes qu'on suit */
	[data-suggestion-json*="ActivityTweet"] {
		display: none;
	}

	/** Masquage des tweets sponsorisés */
	.stream-item[data-item-id$="promoted"],
	.promoted-tweet {
		display: none !important;
	}

	/** Masquage du bloc de suggestions de gens à suivre apparaissant parfois en plein milieu des tweets */
	[data-component-context="suggest_who_to_follow"] {
		display: none;
	}

	/** Masquage du lien de traduction */
	.tweet-translation,
	.translate-button,
	.tweet .time:before {
		display: none !important;
	}

	/** Masquage du lien "faire de la publicité avec Twitter" */
	.Footer-adsModule {
		display: none !important;
	}

	/** Masquage des suggestions sans intérêt */
	.module.trends,
	.module.wtf-module.roaming-module {
		display: none
	}
}