/* ==UserStyle==
@name         [AlloCiné] Ajustements visuels et ergonomiques
@namespace    https://darathor.com/
@version      1.0.6
@description  Ajustements visuels et ergonomiques pour le site AlloCiné.
@author       Darathor < darathor@free.fr >
@supportURL   https://framagit.org/Darathor/UserScripts/issues
@license      WTFPL
==/UserStyle== */

@-moz-document domain('allocine.fr') {
	/** Possibilité de sélectionner correctement les noms d'acteurs dans la page "casting". */
	.card.card-person .meta-title-link::after,
	.card.person-card .meta-title-link::after,
	.md-table-row .link::after {
		position: static;
	}

	.item.link::after {
		display: none !important;
	}

	/** Masquage d'élément inutiles */
	.rc-fb-widget,
	.player-emergence,
	#newsletter-anchor-rc {
		display: none !important;
	}

	/** Masquage de la modale de cookies non-conforme RGPD */
	.dfp-interstitial {
		display: none !important;   
	}
	body.didomi-popup-open {
		overflow: auto !important;
	}
}
